/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@300&family=Sail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Fira+Sans+Extra+Condensed:wght@100&family=Sail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@100&family=Roboto:wght@300&family=Sail&display=swap');
@import url('https://use.fontawesome.com/releases/v5.11.2/css/all.css');


.backImg {
    background-image: url("images/backG.jpeg");
}
.nav{
    font-family: 'Ephesis', cursive;
}
.gallery{
    font-family: 'Amatic SC', cursive;
}
.findCruise{
    font-family: 'Sail', cursive;
}
.galleryLabel{
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}
.title{
    font-family: 'Abril Fatface', cursive;
}
.text{
    font-family: 'Roboto', sans-serif;
}

h2::after{

}
.jim{
    position:relative;
    height:500px;
    width:500px;
    text-align: center;
    background-image: url("images/backG.jpeg");
}
.jim::first-letter{
    color: #ff0000;
    font-size: large;
}
.jim::first-line{
    color: #0000ff;
    font-variant: small-caps;
}
.jim::before {
    content:'Title';
    width:100px;
    height:100px;
    background: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,0.1));
    bottom: 2rem;
    left:0;
    position:absolute;
}
.jim::after {
    content:'Subtitle';
    width:100px;
    height:100px;
    background: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,0.1));
    bottom: 0;
    left: 0;
    position:absolute;
}
.jim::selection {
    color: red;
    background: yellow;
}